@model Spitfire.Library.Models.RowModel
<div class="row @Model.CssClass" style="background-image:url('@Model.BackgroundImgUrl');@Model.CssStyle">
    <div class="col-md-3">
        @Html.Sitecore().DynamicPlaceholder("left")
    </div>
    <div class="col-md-3">
        @Html.Sitecore().DynamicPlaceholder("centerleft")
    </div>
    <div class="col-md-3">
        @Html.Sitecore().DynamicPlaceholder("centerright")
    </div>
    <div class="col-md-3">
        @Html.Sitecore().DynamicPlaceholder("right")
    </div>
</div>