@using Spitfire.SitecoreExtensions.Extensions
@model Spitfire.Library.Models.Core.Scaffolding.Section
<section id="@Model.Id" class="@Model.Rendering.GetStylingParams().CssStyle" style="background-image: url('@Model.Rendering.GetStylingParams().BackgroundImageUrl'); @Model.Rendering.GetStylingParams().CssStyle">
    @{ var animation = ""; }
    @if (!string.IsNullOrEmpty(@Model.Rendering.GetStylingParams().Animation))
    {
        animation = "wow " + @Model.Rendering.GetStylingParams().Animation;
    }
    <div class="@Model.Rendering.GetStylingParams().SubCssClass @animation">
        @Html.Sitecore().DynamicPlaceholder("section")
    </div>
</section>