<section id="@Model.Id" class="@Model.CssClass" style="background-image:url('@Model.BackgroundImgUrl');@Model.CssStyle">
    <div class="@Model.SubCssClass">
        <div class="container">
            @Html.Sitecore().DynamicPlaceholder("section")
        </div>
    </div>
</section>