@using Sitecore.Data.Items
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Spitfire.Framework.SitecoreExtensions.Extensions
@using Spitfire.News
@using Spitfire.SitecoreExtensions.Extensions
@model RenderingModel
<ul>
    @foreach (Item item in Model.Item.Children.OrderByDescending(x => x[Templates.NewsArticle.Fields.Date]))
    {
        <li class="news">
            <h2>
                <a href="@item.Url()">@Html.Sitecore().Field(Spitfire.StandardContent.Templates.HasTitle.Fields.Title.ToString(), item)</a>
            </h2>
            <div class="date">
                @Html.Sitecore().Field(Templates.NewsArticle.Fields.Date.ToString(), item, new { format = "MMMM dd, yyyy" })
            </div>
            <p>
                @Html.Sitecore().Field(Spitfire.StandardContent.Templates.HasSummary.Fields.Summary.ToString(), item)
            </p>
            <a href="@item.Url()" class="more">Read more</a>

            <div class="image">
                @Html.Sitecore().Field(Spitfire.StandardContent.Templates.HasImage.Fields.Image.ToString(), item, new { mw = 260, mh = 201, @as = 1 })
            </div>
        </li>
    }
</ul>