@using Sitecore.Data.Items
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
    var tagSource = Sitecore.Context.Database.GetItem("460630BC-83B5-4F7C-B8BF-9D962AA5AE07");
}
<h2>Some of our clients...</h2>
<div class="filter-v1">
    <ul class="mix-filter">
        <li data-filter="all" class="filter active">All</li>
        @foreach (var tagItem in tagSource.Children.Where(x => x.TemplateName == "Tag"))
        {
            <li data-filter="@tagItem["tag"]" class="filter">
                @Html.Sitecore().Field("tag", tagItem, new { DisableWebEdit = true })
            </li>
        }
    </ul>
    <div class="row mix-grid thumbnails">
        @foreach (Item tagItem in Model.Item.Children)
        {
            var tags = tagItem.Database.GetItem(tagItem["tags"]);

            <div class="col-md-3 col-sm-3 mix action mix_all @(tags == null ? null : @tags["tag"]) " style="display: block; opacity: 1;">
                <div class="mix-inner">
                    @Html.Sitecore().BeginField("website", tagItem, new { haschildren = true })
                    @Html.Sitecore().Field("logo on", tagItem, new { @class = "img-responsive" })
                    @Html.Sitecore().EndField()
                </div>
            </div>
        }
    </div>
</div>

@*<div class="filter-v1">


    <ul class="mix-filter">
        <li data-filter="all" class="filter active">All</li>
        <xsl:for-each select="$tagsource/item[sc:IsItemOfType('tag',.)]">
            <li data-filter="" class="filter">
                <xsl:attribute name="data-filter">
                    <xsl:value-of select="sc:fld('tag',.)" />
                </xsl:attribute>
                <sc:text field="tag" disable-web-editing="true" />
            </li>
        </xsl:for-each>

    </ul>
    <div class="row mix-grid thumbnails">
        <xsl:for-each select="./item">
            <xsl:variable name="tags" select="sc:item(sc:fld('tags',.),.)" />
            <!--<xsl:value-of select="$tags"/>-->


            <div class="col-md-3 col-sm-3 mix action mix_all" style="display: block; opacity: 1;">
                <xsl:attribute name="class">
                    col-md-2 col-sm-3 mix <sc:text select="$tags" field="tag" disable-web-editing="true" /> mix_all
                </xsl:attribute>
                <div class="mix-inner">
                    <sc:link field="website"><sc:image field="logo on" class="img-responsive" /></sc:link>
                </div>
            </div>
        </xsl:for-each>
    </div>
</div>*@