@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
    // TODO: Clean up
    var footer = Sitecore.Context.Database.GetItem("7FBC4CFA-EAE4-45A9-B7B5-C2799D2B01F6");
}
<!-- BEGIN CONTACT -->
<h2>Our Contacts</h2>
<address>
    <strong>@Html.Sitecore().Field("company", footer)</strong><br />
    @Html.Sitecore().Field("address", footer)<br />
    @Html.Sitecore().Field("address 2", footer)<br />
    @Html.Sitecore().Field("address 3", footer)<br />
    <abbr title="Phone">P:</abbr>&#160;@Html.Sitecore().Field("phone", footer)<br />
    <abbr title="Fax">F:</abbr>&#160;@Html.Sitecore().Field("fax", footer)<br/>
</address>
<address>
    <strong>Email</strong><br/>
    @Html.Sitecore().Field("email", footer)
</address>
<!-- END CONTACT -->	